:root {
    --accent: #ffdd01;
    --white: #f0f0f0;
    --black: #000000;
    --secondary: #d0d0d0; 
    --route: #ececec;
    --ontime: #3bb33b;
    --delayed: #b33b3b;
    --early: #b37b3b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.marker {
    position: relative;
}

.marker2 {
    position: absolute;
    top: 50%;   
    left: 50%;
}

.marker2 svg {
    z-index: 100000;
}

body {
    background-color: var(--white);
    margin: 0px;
    padding: 0px;
    max-height: 100%;
    overflow: hidden;
}

.ontime {
    color: var(--ontime) !important;
}

.delayed {
    color: var(--delayed) !important;
}

.early  {
    color: var(--early) !important;
}

.scheduled {
    color: #7f7f7f;
}

.spacer {
    height: 20px;
    background-color: var(--white);
    z-index: 100000;
}

.contents {
    flex: 1;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    width: calc(100% - 20px);
    height: calc(100% - 3em - 60px);
    margin-top: calc(3em + 20px);
    overflow-y: scroll;
    scrollbar-width: none;
}

.header {
    margin-left: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size:xx-large;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 1em 1em 0em 0em;
    line-height: 1.5;
    position:fixed;
    z-index: 10000;
    height: 2.5em;
    transition: height 0.5s ease, border-radius 0.5s ease;
    width: calc(100% - 40px);
}

.search {
    margin-left: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size:xx-large;
    border-radius: 1.5em;
    line-height: 1.5;
    top: calc(100% - 3em - 20px);
    position:fixed;
    z-index: 10000;
    height: 3em;
    display: flexbox;
    width: calc(100% - 40px);
    
}

.search .searchBtn {
    background-color: white;
    border-radius: var(--black);
    height: 3.5em;
    width: 3.5em;
    border-color: black;
    border-width: .25em;
    border-style: solid;
    border-radius: 1.75em;
    float: right;
    position: absolute;
    top: calc(100% - 3.25em);
    left: calc(100% - 3.25em);
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.search .mapBtn {
    background-color: white;
    border-radius: var(--black);
    height: 3.5em;
    width: 3.5em;
    border-color: black;
    border-width: .25em;
    border-style: solid;
    border-radius: 1.75em;
    float: right;
    position: absolute;
    top: calc(100% - 3.25em);
    left: calc(100% - 3.25em);
    transform: translate(0, -4em);
}

.autocomplete {
    position: fixed;
    bottom: 4em; /* Just above the input */
    left: 20px;
    width: calc(100% - 40px - 2.5em);
    max-height: 12em;
    overflow-y: auto;
    background-color: white;
    border-radius: .5em;
    z-index: 999;
    scrollbar-width: none;
}

.autocomplete.hidden {
    opacity: 0;
}

.autocomplete div {
    padding: 10px;
    padding-left: 20px;
    height: 2em;
    font-size: 100%;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
}

.autocomplete div.a {
    background-color: #cfcfcf;
    font-size: xx-large;
    cursor: pointer;
}

.autocomplete div:hover {
    background-color: #007bff;
    color: white;
}

.search .searchBtn svg, .search .mapBtn svg {
    color: #afafaf;
    width: 100%;
    height: 100%;
    padding: .5em;
}

.search .searchInput.hidden {
    background-color: white;
    border-width: 0px;
    border-radius: 1em 0em 0em 1em;
    float: right;
    height: 100%;
    width: 0%;
    margin-right: 1.75em;
    transition: width 0.5s ease, padding 0.5s ease;
    font-size: 100%;
    padding: 0em;
}

.search .searchInput {
    background-color: white;
    border-width: 0px;
    border-radius: 1em 0em 0em 1em;
    float: right;
    height: 100%;
    margin-right: 1.75em;
    width: calc(100% - 1.75em);
    transition: width 0.5s ease, padding 0.5s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    padding: 1em;
}

.search .searchBtn.rotated {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}


.header.expanded {
    height: 3.6em;
    border-radius: 1em 1em 1em 1em;
    transition: height 0.5s ease, border-radius 0.5s ease;
    box-shadow: 0 .5em 2em rgba(0, 0, 0, 0.5);
}

.header.expanded .lines {
    font-size: .6em;
    opacity: 1;
    overflow-x: scroll;
    scrollbar-width: 0px;
    transition: opacity 0.5s ease;
}

.header .lines {
    font-size: .6em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.header strong {
    margin: 0px;
}

.header img {
    color: white;
    height: 1.5em;
    vertical-align: middle;
    margin-right: .5em;
}

.line {
    background-color: #ff00ff;
    color: black;
    padding: .25em;
    font-weight: bold;
    width: 4em;
    cursor: pointer;
    display: inline-block;
    text-align: center; 
    margin-right: 5px;
    border-radius: 2em;
}

.line.disabled {
    filter:opacity(0.5);
    color: #acacac;
}

.line.disabled {
    background-color: #9f9f9f !important;
    color: white;
    cursor: pointer;
}

.info {
    background-color: var(--accent);
    padding: 15px;
    font-family: sans-serif;
    font-size: x-large;
}

.info2 {
    background-color: var(--accent);
    padding: 15px;
    font-family: sans-serif;
    font-size:x-large;
    margin-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
}

.info p {
    margin: 5px;
}

.departures {
    background-color: var(--secondary);
    padding: 15px;
    margin-top: 0px;
    border-radius: 0px 0px 30px 30px;
}

.departures p {
    margin: 0px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 3em;
}

.services {
    font-family: sans-serif;
    text-align: center;
    font-size: larger;
}

.prevTime {
    text-decoration: line-through;
    color: lightgrey;
}

.footer {
    width: calc(100% -10px);
    background-color: var(--accent);
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6em;
    padding: 5px;
}

.footer p {
    margin: 0px 0;
}

.footer p a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.service.disabled {
    background-color: #dedede;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    height: 4em;
}

.service.disabled:hover {
    filter: brightness(1);
}

.service {
    background-color: var(--white);
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    min-height: 5em;
    transition: height 0.5s ease;
}

.serviceUpper, .serviceLower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warnings {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    background-color: #fff5b3;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

.warnings p {
    text-align: left;
    margin: 0px;
    font-size: large;
    vertical-align: middle;
}

.warnings p::before {
    content: "⚠️";
    color: orange; 
    font-size: large;
    margin: 0px;
    vertical-align: middle;
}

.service .arrival {
    font-size:xx-large;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    margin: 0px;
}

.service .dest {
    font-size:xx-large;
    text-align: left;
    text-wrap:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    margin-left: 5px;
}

.service .desc {
    font-size:x-large;
    text-align: left;
    margin: 0px;
    margin-left: 5px;
}

.service .delay {
    font-size:x-large;
    text-align: left;
    margin: 0px;
    margin-left: 5px;
}

.route {
    background-color: var(--route);
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    height: 0px;
    opacity: 0;
    max-height: 0em;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.routePattern {
    display: flex;
    border-radius: 0px;
    max-height: 0em;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.route .routeTitle {
    padding-top: 1em;
    font-size: larger;
    font-weight: bold;
}

.stops {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    padding: .5em;
    overflow-x: hidden;
    width: 50%;
    max-height: calc(100%);
    overflow-y: auto;
    float: left;
}

.fullscreen-map {
    background-color: white;
    float: left;
    overflow: hidden;
    height: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stop-popup {
    padding: 10px;
    font-size: x-large;
}

.stop-popup .lines {
    margin-top: 0px !important;
    width: 100%;
}

.stop-popup .lines span {
    font-size: large !important;
    overflow: hidden;
    margin-top: 5px !important
}

.stop-popup button {
    background-color: var(--accent);
    border-width: 0px;
    border-radius: 2em;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
}



.stop-popup p {
    font-weight: 800;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    padding: 0px;
}

.map {
    background-color: white;
    float: right;
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
    width: calc(50% - .5em);
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopBlob {
    width: 30px;
    height: 30px;
    background-color: white;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.2s ease;
}

.zoom-8, .zoom-7, .zoom-6 .stopBlob {
    border-color: red;
}

.service.selected .routePattern .map {
    height: 23em;
}

.arrow-marker {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    marker-end: url(#arrowhead);
}

.stops::before {
    content: '';
    position: absolute;
    display: block;
    top: 1.25em;
    width: 1em;
    height: calc(var(--line-height, 100%) - 2.5em);
    background-color: var(--pattern-color, #000000);
    border-radius: 0.5em;
    z-index: 0;
}
.stop {
    margin-left: 2em;
    position: relative;
    text-align: left;
    width: calc(100% - 2em - 10px);
    z-index: 1; 
    display: flex;
    align-items: center;
    vertical-align: middle;
    min-height: 2.5em;
    padding: 1.25em 0;
    justify-content: flex-start;
    box-sizing: border-box;
}

.stop::before {
    content: '';
    width: .6em;
    height: .6em;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -1.5em; /* This aligns the circle with the line */
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.stop.selectedStop::before {
    content: '';
    width: .8em;
    height: .8em;
    background-color: #ffffff;
    border-color: #000000;
    border-style:solid;
    border-width: .2em;
    border-radius: 50%;
    position: absolute;
    left: -1.5em; /* This aligns the circle with the line */
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.stop.selectedStop {
    font-weight: bold;
}

.stop.approaching::after {
    content: '';
    width: .6em;
    height: .6em;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -1.5em; /* This aligns the circle with the line */
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.stop.approaching::after {
    animation: grow-fade-out 1s infinite; /* Animation for the growing circle */
}


@keyframes grow-fade-out {
    0% {
        transform: translate(-50%, -50%) scale(1); /* Normal size */
        opacity: 1; /* Fully visible */
    }
    
    99.8% {
        transform: translate(-50%, -50%) scale(3); /* Back to normal */
        opacity: 0; /* Remain invisible */
    }

    99.9% {
        transform: translate(-50%, -50%) scale(3); /* Back to normal */
        opacity: 0; /* Remain invisible */
    }

    100% {
        transform: translate(-50%, -50%) scale(1); /* Back to normal */
        opacity: 1; /* Remain invisible */
    }
}


.info a {
    color: var(--black);
    font-weight: bold;
    font-style: italic;
}

.info a:hover {
    color: #003f7f;
    font-weight: bold;
    font-style: italic;
}

.stop p {
    font-family: sans-serif;
    font-size: large;
    float: left;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
    max-width: 100%; /* Ensure it fits within the parent width */
    margin: 0; /* Reset margin */
}

.service.selected .route {
    opacity: 1;
    height: 18em;
    max-height: 18em;
    transition: all 0.5s ease;
}

.service.selected .routePattern {
    opacity: 1;
    height: 14.25em;
    max-height: 14.25em;
    transition: all 0.5s ease;
}


.service:hover {
    filter: brightness(.95);
    cursor:pointer;
}

.service.selected {
    min-height: 23em;
}