html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    touch-action: pan-x pan-y;
}

#timeframe {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    width: calc(100% - 1rem);
    height: 10%;
    background-color: #f0f0f07f;
    padding: .5rem;
}

#time {
    font-size: 6vh;
    margin: 0px;
    padding: 0px;
}

#timeLabel {
    font-size: 3vh;
    margin: 0px;
    padding: 0px;
}

#timeRange {
    flex-grow: 1;
}

.line {
    background-color: black;
    border-radius: 1rem;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-weight: bold;
}

.line.short {
    background-color: #3d85c6;
}

.line.long {
    background-color: #c61d23;
}

.line.cp {
    background-color: #2a9057;
}

